/*makes header take up whole page */


$blue: #4e728b;

body {
    margin: 0;
}


nav {
 
left: 48%;
 margin-right: 5%;
 margin-top: 2%;
 position: fixed;


}

nav ul {

       text-decoration: none;
}

nav li {
    display: inline;
    margin-left: 60px;
    font-family: Catamaran-ExtraLight, sans-serif;
    font-size: 20px;


}

nav li a {

        text-decoration: none;
            color: white;
}
.current-page {

    border-bottom: 1.5px solid white;

}

header li a:hover {

border-bottom: 1.5px solid white;
}

.header-text {

color: white;
text-align: center;
margin-top: 0;
position: fixed;
margin-top: 165px;
width: 50%;
margin-right: 25%;
margin-left: 25%;
z-index: 1;


}


.header-text h2 {
font-family: Brownhill-Script, sans-serif;
font-size: 140px;
color: red;

}

.header-text p {

    font-family: Catamaran-ExtraLight, sans-serif;
    font-size: 22px;
    margin-top: 2px;
}


header {

    background-image: url(../html/images/blob.png);
    background-size: auto 650px;
    background-position: 50% -30px;
    height: 580px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -100;

    
}

.wave img {

position: relative;
top: -190px;
width: 100%;



 
}

.wave {

height: 0;
    background-color: red;
}


  .hidden-on-desktop {

  display: none; 
  }


#headerImage {
width: 100%;
position: relative;
overflow: hidden;

}

.hidden {
    display: none;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #e5e5e5;
    display: block;
    transition: 0.3s;
    font-family: Catamaran-Light;
}


.overlay a:hover, .overlay a:focus {
    color: $blue;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}



@media screen and (max-width: 1338px) {


nav {

    left: 45%;
}

header {

    height: 500px;
}


.wave img {

     top: -110px;
}

}

@media screen and (max-width: 1105px) {

nav {

    display: none;
}


header {

    background-size: cover;
    height: 400px;
      background-size: auto 520px;
    min-height: initial;
}

.hidden-on-desktop {


    display: initial;
}

.burger {
    font-size: 55px;
    cursor:pointer;
    position: fixed;
    color: white!important;
    margin-top: -360px;
    left: 90%;

}

.header-text {

  margin-top: 110px;

.wave {

    height: 0px;
    background-color: white;
    width: 100%;

}

.wave img {

    width: 100%;
    top: -110px;

}

}


@media screen and (max-width: 770px) {

header {

    background-size: cover;
      background-size: auto 390px;
    min-height: initial;
    height: 250px;
}

.header-text {

    margin-top: 45px;

}

.header-text p {

    font-size: 18px;
}

.burger {

   margin-top: -240px;
    left: 87.8%;

}

.wave {

    height: 9px;
    width: 100%;
    background-color: white;
}

.wave img {

    top: -90px;
}


}

@media screen and (max-width: 647px) {

.wave img {

    top: -50px;
}



}

@media screen and (max-width: 450px) {


    header {

        height: 200px;
    }

    .burger {

    margin-top: -200px;
    left: 84%;
    font-size: 45px;

}

.header-text {


    margin-top: 40px;
}
    .header-text p {

font-size: 16px;

}
}

@media screen and (max-width: 350px) {

.wave {

    display: none;

}

}
}