/*variables*/
/*import*/
#footerspace {
  padding: 5px; }

footer {
  width: 100%;
  height: auto;
  background-color: #1A1A1A;
  float: left;
  clear: both;
  margin: 0 auto;
  text-align: center; }

footer p {
  color: #A5A5A5;
  text-align: center;
  font-size: 12px;
  font-family: Gudea-Regular;
  margin-top: 10px;
  left: 35%; }

.socialIcons img {
  padding: 20px 20px 10px 20px; }

@media screen and (max-width: 390px) {
  .socialIcons {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }

  .socialIcons img {
    padding: 5px 20px 5px 20px; } }
#headerContact h1 {
  text-align: left;
  margin-left: 114px;
  font-size: 39px;
  margin-bottom: 0px;
  font-family: 'Catamaran', sans-serif;
  float: left; }

#sidebar {
  margin: 0px;
  float: right;
  background-color: #202731;
  padding: 50px;
  width: 175px;
  height: 570px; }

#contactInfo {
  display: block;
  line-height: 200%;
  color: white;
  font-size: 19px;
  text-decoration: none;
  text-align: left;
  list-style: none; }

#aboutContainer {
  width: 60%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border: 2px solid #1A1A1A;
  margin-bottom: 5%;
  margin-top: 100px; }

.profileCircle {
  position: relative;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  top: -90px;
  display: block; }

.profileRectangle {
  display: none; }

#contactsubContainer {
  width: 100%;
  background-color: #1A1A1A;
  height: 7.33em;
  position: relative;
  top: -55%; }

#emailMe {
  bottom: 22%;
  color: white;
  position: absolute;
  margin-left: 6%; }

#callMe {
  bottom: 22%;
  color: white;
  position: absolute;
  margin-left: 76%; }

#aboutContainer h3 {
  text-align: center;
  font-family: Catamaran-Bold;
  font-size: 1.3em; }

#contactsubContainer a {
  font-family: Catamaran-Light;
  text-decoration: none;
  color: white; }

#aboutContainer p {
  text-align: center;
  padding: 2% 8% 2% 8%;
  font-family: Catamaran-Light; }

#aboutContainer h2 {
  text-align: center;
  font-family: Catamaran-Bold;
  font-size: 1.5em; }

#socialIcons {
  text-align: center;
  margin-bottom: 3%; }

#socialIcons img {
  padding-right: 20px; }

@media screen and (max-width: 522px) {
  #emailMe {
    position: initial;
    line-height: 25px;
    text-align: center;
    display: block;
    padding-top: 9px; }

  #hruleContact {
    border-top: 1px solid white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%; }

  #emailMe h3 {
    margin: 0; }

  #callMe {
    position: initial;
    line-height: 8px;
    text-align: center;
    display: block; }

  #contactsubContainer {
    height: 8.6em; } }
@media screen and (max-width: 1000px) {
  .profileCircle {
    display: none !important; }

  .profileRectangle {
    display: block;
    width: 100%; }

  #callMe {
    right: 21%;
    margin-left: 0; }

  #emailMe {
    left: 15%;
    margin-left: 0; }

  #aboutContainer {
    width: 90%; } }
#formWrapper {
  width: 450px;
  position: relative;
  left: 22%; }

form {
  float: left;
  width: 500px;
  padding: 10px; }

input {
  display: block;
  height: 40px;
  width: 300px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: 2px solid black; }

textarea {
  display: block;
  height: 150px;
  width: 400px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 2px solid black; }

#mySubmit {
  display: inline;
  margin-top: 13px;
  width: 100px;
  background-color: white;
  text-align: center;
  font-weight: bold; }

.burger {
  font-size: 5vw;
  cursor: pointer;
  left: 17.9em;
  top: .6em;
  position: absolute;
  color: #E5E5E5; }

.hidden {
  display: none; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #e5e5e5;
  display: block;
  transition: 0.3s;
  font-family: Catamaran-Light; }

.overlay a:hover, .overlay a:focus {
  color: #BFBC82; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

.space {
  height: 50px;
  width: 1px; }

strong {
  color: white; }

#highlight {
  background-color: #1A1A1A;
  padding-top: 1px;
  width: 100%;
  height: auto; }

#highlight h1 {
  text-align: center;
  font-size: 7vw;
  color: #2E3E58;
  text-align: center;
  font-family: Catamaran-Bold;
  margin: 0px; }

#nextBar {
  background-color: #e4e4ef;
  height: 33px;
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  z-index: 1;
  margin-top: 4%; }

#nextBar button {
  background-color: #477B11;
  border: none;
  width: 200px;
  color: white;
  font-family: Catamaran-Medium;
  height: 33px;
  font-size: 20px;
  cursor: pointer; }

#nextBar a:nth-child(2) {
  float: right; }

@media screen and (max-width: 680px) {
  #nextBar {
    position: initial; }

  #nextBar button {
    font-size: 15px;
    width: 130px; } }
@media screen and (max-width: 500px) {
  #nextBar button {
    font-size: 17px;
    width: 140px; } }
@media screen and (max-width: 450px) {
  #nextBar button {
    font-size: 12.5px;
    width: 103px; } }
#currentPage {
  border-bottom: 2px solid #477B11; }

@font-face {
  font-family: Gudea-Regular;
  src: url(../fonts/Gudea-Regular.ttf); }
@font-face {
  font-family: risoless;
  src: url(../fonts/risoless.ttf); }
@font-face {
  font-family: streetlight;
  src: url(../fonts/streetlight.ttf); }
@font-face {
  font-family: Catamaran-Bold;
  src: url(../fonts/Catamaran-Bold.ttf); }
@font-face {
  font-family: Catamaran-Medium;
  src: url(../fonts/Catamaran-Medium.ttf); }
@font-face {
  font-family: Catamaran-Black;
  src: url(../fonts/Catamaran-Black.ttf); }
@font-face {
  font-family: Catamaran-ExtraLight;
  src: url(../fonts/Catamaran-ExtraLight.ttf); }
@font-face {
  font-family: Catamaran-Light;
  src: url(../fonts/Catamaran-Light.ttf); }
@font-face {
  font-family: Catamaran-Regular;
  src: url(../fonts/Catamaran-Regular.ttf); }
#section2 {
  margin: 0 auto; }

.tab h1 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 4.5vw;
  margin-bottom: 0px;
  font-family: Catamaran-Medium;
  width: 80%; }

.titleColor {
  color: #477B11; }

body {
  margin: 0px; }

#imageWrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 30px; }

#headerImage {
  width: 100%;
  position: relative;
  overflow: hidden; }

body {
  background-color: #F2F1FF; }

.portfolio {
  width: 400px; }

#sidebar #sidebarHeader {
  color: white !important;
  font-family: arial, helvetica, sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0; }

/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center; }

.tabs label {
  order: 1;
  display: block;
  padding: 15px 15px 9px 15px;
  margin: 10px 10px;
  cursor: pointer;
  background: transparent;
  transition: background ease 0.2s;
  font-size: 1.8vw;
  font-family: Catamaran-Light;
  text-transform: uppercase; }

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 98%;
  display: none;
  padding: 1px;
  background: transparent; }

.tabs input[type="radio"] {
  display: none; }

/*changes color of selected tab*/
.tabs input[type="radio"]:checked + label {
  border-bottom: 4px solid #477B11;
  background: transparent; }

.tabs input[type="radio"]:checked + label + .tab {
  display: block; }

/**
 * Generic Styling
*/
label:hover {
  border-bottom: 3px solid #BFBC82; }

/*indvidual pages*/
#individualPage h2 {
  font-size: 7vw;
  color: #477B11;
  text-align: left;
  font-family: Catamaran-Bold;
  line-height: 1em; }

#wrapper a:nth-child(2) {
  font-family: Catamaran-Medium; }

#avocadoImages img {
  width: 45% !important;
  display: inline-block;
  margin-top: 5%; }

#floralShoes img {
  width: 45% !important;
  display: inline-block;
  margin-top: 5%; }

#individualpagemedal img {
  width: 80% !important;
  margin-right: 10%;
  margin-left: 10%; }

#individualpageVase {
  width: 35% !important;
  margin-left: 32.5%;
  margin-right: 32.5%; }

#individualPage {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

#individualPage img {
  width: 100%;
  margin-bottom: 5%; }

#individualPage h2 {
  font-size: 5vw;
  font-family: Catamaran-Bold;
  line-height: 20px; }

#individualPage p {
  font-family: Catamaran-Medium;
  font-size: 1.7vw; }

.boldbodyText {
  font-family: Catamaran-Bold !important;
  font-size: 2.6vw !important; }

/*index*/
.imageOverlay {
  position: absolute;
  top: 40%;
  width: 90%;
  margin-left: 3%;
  margin-right: 7%;
  z-index: 1;
  text-align: center;
  color: black;
  font-size: 5vw;
  font-family: Catamaran-Bold;
  opacity: 0;
  line-height: 60px; }

.imgContainer:hover .imageOverlay {
  color: black;
  opacity: 1; }

.imgContainer {
  position: relative; }

.imgContainer:hover img {
  -webkit-filter: opacity(50%);
  filter: opacity(50%); }

#graphicDesign img {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 6%;
  position: relative; }

#tactileDesign img {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 3%;
  position: relative; }

#graphicDesign {
  width: 94%;
  margin-left: 6%;
  margin-top: 4%;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px; }

#tactileDesign {
  width: 89%;
  margin-left: 6%;
  margin-top: 4%;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px; }

.uxSection {
  width: 80%;
  margin-left: 10%;
  margin-top: 2.4%;
  margin-bottom: 2%; }

.uxSection button {
  background: transparent;
  border: 2px solid black;
  width: 190px;
  font-family: Catamaran-Medium;
  font-size: 19px;
  cursor: pointer; }

/*this makes the buttons in the UX section hover*/
.projectDescrip button:hover {
  background-color: #BFBC82;
  border: 2px solid #BFBC82 !important;
  color: white; }

.uximgContainer {
  width: 45%; }

.projectDescrip {
  display: inline-block;
  width: 49%;
  position: relative;
  height: 230px;
  margin-left: 5%; }

.projectDescrip h3 {
  color: #BFBC82;
  font-family: Catamaran-Medium;
  margin: 2px; }

.thin {
  font-family: Catamaran-ExtraLight; }

#thymeforDinner {
  border-bottom: 2px solid black;
  padding-bottom: 5%; }

#uhaul {
  border-bottom: 2px solid black;
  margin-top: 6%;
  overflow: hidden;
  padding-bottom: 30px; }

#babyshower {
  border-bottom: 2px solid black;
  overflow: hidden; }

#solarSpell {
  border-bottom: 2px solid black;
  padding-bottom: 5%; }

/*make widths and margins add up to 100% for each img*/
#thymeforDinner img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  float: left; }

#solarSpell img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  float: left; }

#babyShower img {
  display: inline-block;
  width: 36%;
  margin-top: 20px;
  margin-right: 32%;
  margin-left: 32%;
  float: left;
  margin-bottom: 5%; }

#uhaul img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  float: left; }

#solarspell img {
  width: 90%; }

.projectDescrip h2 {
  font-family: Catamaran-Bold, arial;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 2px;
  margin-top: 0; }

.regText {
  font-family: Catamaran-Light;
  font-size: 30px; }

.projectDescrip p {
  font-family: Catamaran-Light;
  font-size: 2vw; }

#vase {
  width: 24% !important;
  height: auto;
  left: 48%; }

#avocado {
  width: 50% !important;
  left: 7%; }

#shoes {
  width: 65% !important;
  left: 28%;
  margin-top: 20%;
  margin-bottom: 7%; }

#medal {
  width: 70% !important;
  margin-top: 10% !important; }

#longboard {
  width: 80% !important;
  margin-top: 10% !important; }

/*about*/
#about p {
  padding: 3px;
  width: 480px;
  color: black;
  text-align: center;
  margin-top: 15px; }

#about span {
  font-size: 100px;
  float: left;
  font-family: risoless;
  margin-left: 40px;
  color: rgba(124, 124, 124, 0.5); }

.circle1 {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  margin-left: 6px;
  border: 2px double black; }

#col1 li {
  display: inline-block;
  padding-left: 10px;
  font-size: 23px;
  font-family: kollektif;
  line-height: 40px; }

#col1 ul {
  list-style-type: none;
  width: 203px; }

@media screen and (max-width: 900px) {
  #thymeforDinner {
    padding-bottom: 0; } }
@media screen and (max-width: 796px) {
  #babyShower img {
    width: 50%;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    float: left; }

  #col3 label {
    background: #242B3E;
    display: block;
    width: 100%;
    margin-right: 2px;
    padding: 14px 20px;
    font-family: Catamaran-Medium;
    font-size: 21px;
    color: white;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s; }

  #individualPage p {
    font-size: 15px !important; }

  .tabs label {
    font-size: 2.4vw; } }
@media screen and (max-width: 500px) {
  #wrapper a {
    font-family: Catamaran-Medium;
    font-size: 4vw;
    color: #324775; }

  #thymeforDinner {
    padding-bottom: 5%; }

  #vase {
    width: 24% !important;
    height: auto;
    left: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #avocado {
    width: 50% !important;
    left: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #shoes {
    width: 65% !important;
    left: 0 !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }

  #medal {
    width: 70% !important;
    margin-top: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #graphicDesign {
    margin: 0 auto;
    line-height: 0;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0px;
    -moz-column-count: 1 !important;
    -moz-column-gap: 1px;
    column-count: 1 !important;
    column-gap: 0px; }

  #tactileDesign {
    margin: 0 auto;
    line-height: 0;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0px;
    -moz-column-count: 1 !important;
    -moz-column-gap: 1px;
    column-count: 1 !important;
    column-gap: 0px; }

  .imageOverlay {
    display: none !important; }

  .tabs .tab,
  .tabs label {
    order: initial; }

  .tabs label {
    width: 100%;
    margin: 0px !important;
    border-bottom: 2px solid #6380A6 !important;
    background-color: #477B11;
    padding: 9px !important;
    font-size: 3vw !important; }

  .tabs input[type="radio"]:checked + label {
    background-color: #1A1A1A;
    color: white; }

  .burger {
    left: 12.2em;
    font-size: 7vw; } }
@media screen and (max-width: 450px) {
  .uxSection img {
    display: none !important; }

  .projectDescrip p {
    font-size: 12px !important; }

  .projectDescrip {
    position: relative !important; } }
@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/*# sourceMappingURL=portfolio.css.map */
