/*variables*/
/*import*/
@font-face {
  font-family: Catamaran-Medium;
  src: url(../fonts/Catamaran-Medium.ttf); }
#footerspace {
  padding: 5px; }

footer {
  width: 100%;
  height: auto;
  background-color: #191919;
  float: left;
  clear: both;
  margin: 0 auto;
  text-align: center; }

footer p {
  color: #A5A5A5;
  text-align: center;
  font-size: 12px;
  font-family: Catamaran-Medium, sans-serif;
  margin-top: 10px;
  max-width: initial;
  left: 35%; }

.socialIcons img {
  padding: 20px 20px 10px 20px; }

@media screen and (max-width: 390px) {
  .socialIcons {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }

  .socialIcons img {
    padding: 5px 20px 5px 20px; } }
/*makes header take up whole page */
body {
  margin: 0; }

nav {
  left: 48%;
  margin-right: 5%;
  margin-top: 2%;
  position: fixed; }

nav ul {
  text-decoration: none; }

nav li {
  display: inline;
  margin-left: 60px;
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 20px; }

nav li a {
  text-decoration: none;
  color: white; }

.current-page {
  border-bottom: 1.5px solid white; }

header li a:hover {
  border-bottom: 1.5px solid white; }

.header-text {
  color: white;
  text-align: center;
  margin-top: 0;
  position: fixed;
  margin-top: 165px;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  z-index: 1; }

.header-text h2 {
  font-family: Brownhill-Script, sans-serif;
  font-size: 140px;
  color: red; }

.header-text p {
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 22px;
  margin-top: 2px; }

header {
  background-image: url(../html/images/blob.png);
  background-size: auto 650px;
  background-position: 50% -30px;
  height: 580px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -100;
  top: 0; }

.wave img {
  position: relative;
  top: -190px;
  overflow: hidden; }

.wave {
  height: 0;
  background-color: red;
  width: 100%; }

.hidden-on-desktop {
  display: none; }

#headerImage {
  width: 100%;
  position: relative;
  overflow: hidden; }

.hidden {
  display: none; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 101;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #e5e5e5;
  display: block;
  transition: 0.3s;
  font-family: Catamaran-Light; }

.overlay a:hover, .overlay a:focus {
  color: #4e728b; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-width: 2455px) {
  header {
    background-image: url(../html/images/blob-xl.png);
    background-size: auto 800px; } }
@media screen and (max-width: 1900px) {
  header {
    background-image: url(../html/images/blob.png);
    background-size: auto 690px; } }
@media screen and (max-width: 1338px) {
  nav {
    left: 45%; }

  header {
    background-image: url(../html/images/blob-med.png);
    height: 500px;
    background-size: auto 650px; }

  .wave img {
    top: -110px; } }
@media screen and (max-width: 1105px) {
  nav {
    display: none; }

  header {
    background-size: cover;
    height: 400px;
    background-size: auto 520px;
    min-height: initial; }

  .hidden-on-desktop {
    display: initial; }

  .burger {
    width: 103%;
    top: -110px;
    font-size: 55px;
    cursor: pointer;
    color: white;
    margin-top: -360px;
    margin-left: 91%;
    z-index: -100; }

  .burger img {
    width: 40px; }

  .header-text {
    margin-top: 25px; }
    .header-text .wave {
      height: 0px;
      background-color: white;
      width: 100%; } }
@media screen and (max-width: 1105px) and (max-width: 770px) {
  header {
    background-image: url(../html/images/blob-small.png);
    background-size: cover;
    background-size: auto 390px;
    min-height: initial;
    height: 250px; }

  .header-text {
    margin-top: -30px; }

  .header-text p {
    font-size: 18px; }

  .burger {
    margin-top: -240px;
    left: 87.8%; }

  .wave {
    height: 9px;
    width: 100%;
    background-color: white; }

  .wave img {
    top: -90px; } }
@media screen and (max-width: 1105px) and (max-width: 647px) {
  .wave img {
    top: -50px; }

  .burger {
    margin-left: 87%; }

  .header-text {
    margin-top: 10px; } }
@media screen and (max-width: 1105px) and (max-width: 450px) {
  header {
    height: 200px; }

  .burger {
    margin-top: 100px;
    margin-left: 85%; }

  .header-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }

  .header-text img {
    width: 100%; }

  .header-text p {
    font-size: 16px; }

  .wave img {
    display: none; } }
@media screen and (max-width: 1105px) and (max-width: 350px) {
  .wave {
    display: none; }

  .burger {
    margin-left: 81%; } }
.space {
  height: 50px;
  width: 1px; }

strong {
  color: white; }

#highlight {
  background-color: #1A1A1A;
  padding-top: 1px;
  width: 100%;
  height: auto; }

#highlight h1 {
  text-align: center;
  font-size: 7vw;
  color: #2E3E58;
  text-align: center;
  font-family: Catamaran-Bold;
  margin: 0px; }

#nextBar {
  background-color: #e4e4ef;
  height: 33px;
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  z-index: 1; }

#nextBar button {
  background-color: #705d9b;
  border: none;
  width: 200px;
  color: white;
  font-family: Catamaran-Medium;
  height: 33px;
  font-size: 20px;
  cursor: pointer; }

#nextBar a:nth-child(2) {
  float: right; }

@media screen and (max-width: 680px) {
  #nextBar {
    position: initial; }

  #nextBar button {
    font-size: 15px;
    width: 130px; } }
@media screen and (max-width: 500px) {
  #nextBar button {
    font-size: 18.5px;
    width: 140px;
    height: 47px; }

  #nextBar {
    height: 47px; } }
@media screen and (max-width: 450px) {
  #nextBar button {
    font-size: 15px;
    width: 103px; } }
@font-face {
  font-family: Gudea-Regular;
  src: url(../fonts/Gudea-Regular.ttf); }
@font-face {
  font-family: risoless;
  src: url(../fonts/risoless.ttf); }
@font-face {
  font-family: streetlight;
  src: url(../fonts/streetlight.ttf); }
@font-face {
  font-family: Catamaran-Bold;
  src: url(../fonts/Catamaran-Bold.ttf); }
@font-face {
  font-family: Catamaran-Medium;
  src: url(../fonts/Catamaran-Medium.ttf); }
@font-face {
  font-family: Catamaran-Black;
  src: url(../fonts/Catamaran-Black.ttf); }
@font-face {
  font-family: Catamaran-ExtraLight;
  src: url(../fonts/Catamaran-ExtraLight.ttf); }
@font-face {
  font-family: Catamaran-Light;
  src: url(../fonts/Catamaran-Light.ttf); }
@font-face {
  font-family: Catamaran-Regular;
  src: url(../fonts/Catamaran-Regular.ttf); }
@font-face {
  font-family: Brownhill-Script;
  src: url(../fonts/Brownhill-Script.ttf); }
/*variables*/
.about-header {
  width: 85%;
  margin: 0 auto;
  padding-top: 4%; }

.about-header-3 img {
  width: 42%;
  float: left;
  margin-left: 5%;
  box-shadow: 10px 10px 53px rgba(0, 0, 0, 0.3); }

.about-header img {
  width: 42%;
  float: left;
  margin-right: 2.5%;
  box-shadow: 10px 10px 53px rgba(0, 0, 0, 0.3); }

.about-header-2 img {
  width: 32%;
  float: right;
  margin-right: 6%;
  box-shadow: 10px 10px 53px rgba(0, 0, 0, 0.3); }

.about-header-3 img {
  width: 37%;
  float: left;
  position: relative;
  margin-right: 2.5%;
  top: -410px;
  box-shadow: 10px 10px 53px rgba(0, 0, 0, 0.3); }

.about-header-3 {
  border: 2px solid green; }

.contact-descrip-right {
  float: right;
  width: 45%; }

.contact-descrip-left {
  float: left;
  width: 55%; }

.contact-descrip-bottom {
  top: -350px;
  position: relative;
  border: 2px solid red; }

.contact-descrip-right h2, .contact-descrip-bottom h2 {
  text-transform: uppercase;
  font-family: Catamaran-Bold, sans-serif;
  font-size: 50px; }

.contact-descrip-left h2 {
  text-transform: uppercase;
  font-family: Catamaran-Bold, sans-serif;
  font-size: 50px;
  text-align: right; }

.contact-descrip-right h2, .contact-descrip-left h2 {
  text-transform: uppercase;
  font-family: Catamaran-Bold, sans-serif;
  font-size: 50px; }

.stripe {
  background-color: #4e728b;
  opacity: .2;
  width: 100%;
  position: relative;
  height: 180px;
  clear: both;
  margin: 0 auto;
  top: -200px;
  z-index: -1; }

.stripe-2 {
  background-color: #4e728b;
  opacity: .2;
  width: 100%;
  position: relative;
  height: 470px;
  clear: both;
  margin: 0 auto;
  top: -80px;
  z-index: -1; }

.contact-descrip-left p {
  top: 10%;
  position: relative;
  color: black;
  text-align: right;
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  line-height: 45px;
  padding-left: 9%; }

.contact-descrip-right p {
  top: 10%;
  position: relative;
  color: black;
  text-align: left;
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  line-height: 45px; }

.contact-descrip-bottom p {
  position: relative;
  color: black;
  text-align: left;
  font-family: Catamaran, sans-serif;
  font-size: 20px;
  line-height: 45px; }

.about-heading {
  text-transform: uppercase;
  font-family: Catamaran-Bold, sans-serif;
  font-size: 50px;
  text-align: center; }

/*RESUME PAGE*/
.resume-img {
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  width: 90%;
  max-width: 100%; }

#wrapper {
  background-color: white;
  z-index: 2;
  position: relative; }

#section2 {
  margin: 0 auto; }

.tab h2 {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 4.5vw;
  margin-bottom: 0px;
  font-family: Catamaran-Medium;
  width: 80%;
  background: -webkit-linear-gradient(left, #586c90, #a739b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5.5%; }

body {
  margin: 0px; }

#imageWrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 30px; }

body {
  background-color: #F2F1FF; }

.portfolio {
  width: 400px; }

#sidebar #sidebarHeader {
  color: white !important;
  font-family: arial, helvetica, sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0; }

/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center; }

.tabs label {
  order: 1;
  display: block;
  padding: 15px 15px 9px 15px;
  margin: 10px 10px;
  cursor: pointer;
  background: transparent;
  transition: background ease 0.2s;
  font-size: 1.8vw;
  font-family: Catamaran-Light;
  text-transform: uppercase; }

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 98%;
  display: none;
  padding: 1px;
  background: transparent; }

.tabs input[type="radio"] {
  display: none; }

/*changes color of selected tab*/
.tabs input[type="radio"]:checked + label {
  border-bottom: 4px solid #705d9b;
  background: transparent; }

.tabs input[type="radio"]:checked + label + .tab {
  display: block; }

/**
 * Generic Styling
*/
label:hover {
  border-bottom: 3px solid #191919; }

/*indvidual pages*/
#individualPage h2 {
  font-size: 7vw;
  color: #705d9b;
  text-align: left;
  font-family: Catamaran-Bold;
  line-height: 1em; }

#wrapper a:nth-child(2) {
  font-family: Catamaran-Medium; }

#avocadoImages img {
  width: 45% !important;
  display: inline-block;
  margin-top: 5%; }

#floralShoes img {
  width: 45% !important;
  display: inline-block;
  margin-top: 5%; }

#individualpagemedal img {
  width: 80% !important;
  margin-right: 10%;
  margin-left: 10%; }

#individualpageVase {
  width: 35% !important;
  margin-left: 32.5%;
  margin-right: 32.5%; }

#individualPage {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

#individualPage img {
  width: 100%;
  margin-bottom: 5%; }

#individualPage h2 {
  font-size: 5vw;
  font-family: Catamaran-Bold;
  line-height: 20px; }

#individualPage p {
  font-family: Catamaran-Medium;
  font-size: 1.7vw; }

.boldbodyText {
  font-family: Catamaran-Bold !important;
  font-size: 2.6vw !important; }

/*index*/
.imageOverlay {
  position: absolute;
  top: 40%;
  width: 90%;
  margin-left: 3%;
  margin-right: 7%;
  z-index: 1;
  text-align: center;
  color: black;
  font-size: 5vw;
  font-family: Catamaran-Bold;
  opacity: 0;
  line-height: 60px; }

.imgContainer:hover .imageOverlay {
  opacity: 1; }

.imgContainer {
  position: relative; }

.imgContainer:hover img {
  -webkit-filter: opacity(50%);
  filter: opacity(50%); }

#graphicDesign img {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 6%;
  position: relative; }

#tactileDesign img {
  width: 94%;
  margin: 0 auto;
  margin-bottom: 3%;
  position: relative; }

#graphicDesign {
  width: 94%;
  margin-left: 6%;
  margin-top: 4%;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px; }

#tactileDesign {
  width: 89%;
  margin-left: 6%;
  margin-top: 4%;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px; }

.uxSection {
  width: 80%;
  margin-left: 10%;
  margin-top: 2.4%;
  margin-bottom: 2%; }

.uxSection button {
  background-color: #705d9b;
  border: 2px solid #705d9b !important;
  color: white;
  background-color: #705d9b;
  border: 2px solid #705d9b !important;
  color: white;
  width: 190px;
  font-family: Catamaran-Medium;
  font-size: 19px;
  cursor: pointer; }

/*this makes the buttons in the UX section hover*/
.projectDescrip button:hover {
  background: transparent;
  border: 2px solid #705d9b;
  color: #705d9b; }

.uximgContainer {
  width: 45%; }

.projectDescrip {
  display: inline-block;
  width: 49%;
  position: relative;
  height: 230px;
  margin-left: 5%; }

.projectDescrip h4 {
  color: #4e728b;
  font-family: Catamaran-Medium;
  margin: 2px; }

.thin {
  font-family: Catamaran-ExtraLight; }

#thymeforDinner {
  border-bottom: 2px solid #191919;
  padding-bottom: 5%; }

#uhaul {
  border-bottom: 2px solid #191919;
  margin-top: 6%;
  overflow: hidden;
  padding-bottom: 30px; }

#babyshower {
  border-bottom: 2px solid #191919;
  overflow: hidden; }

#solarSpell {
  border-bottom: 2px solid #191919;
  padding-bottom: 5%; }

/*make widths and margins add up to 100% for each img*/
#thymeforDinner img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  float: left; }

#solarSpell img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  float: left; }

#babyShower img {
  display: inline-block;
  width: 36%;
  margin-top: 20px;
  margin-right: 32%;
  margin-left: 32%;
  float: left;
  margin-bottom: 5%; }

#uhaul img {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  float: left; }

#solarspell img {
  width: 90%; }

.projectDescrip h3 {
  font-family: Catamaran-Bold, arial;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 2px;
  margin-top: 0; }

.regText {
  font-family: Catamaran-Light;
  font-size: 30px; }

.projectDescrip p {
  font-family: Catamaran-Light;
  font-size: 2vw; }

#vase {
  width: 24% !important;
  height: auto;
  left: 48%; }

#avocado {
  width: 50% !important;
  left: 7%; }

#shoes {
  width: 65% !important;
  left: 28%;
  margin-top: 20%;
  margin-bottom: 7%; }

#medal {
  width: 70% !important;
  margin-top: 10% !important; }

#longboard {
  width: 80% !important;
  margin-top: 10% !important; }

@media screen and (max-width: 900px) {
  #thymeforDinner {
    padding-bottom: 0; } }
@media screen and (max-width: 796px) {
  #babyShower img {
    width: 50%;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    float: left; }

  #col3 label {
    background: #242B3E;
    display: block;
    width: 100%;
    margin-right: 2px;
    padding: 14px 20px;
    font-family: Catamaran-Medium;
    font-size: 21px;
    color: white;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s; }

  #individualPage p {
    font-size: 15px !important; }

  .tabs label {
    font-size: 2.4vw; } }
@media screen and (max-width: 500px) {
  .tab h2 {
    font-size: 29px; }

  #wrapper a {
    font-family: Catamaran-Medium;
    font-size: 4vw;
    color: #324775; }

  #thymeforDinner {
    padding-bottom: 5%; }

  #vase {
    width: 24% !important;
    height: auto;
    left: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #avocado {
    width: 50% !important;
    left: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #shoes {
    width: 65% !important;
    left: 0 !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }

  #medal {
    width: 70% !important;
    margin-top: 0 !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  #graphicDesign {
    margin: 0 auto;
    line-height: 0;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0px;
    -moz-column-count: 1 !important;
    -moz-column-gap: 1px;
    column-count: 1 !important;
    column-gap: 0px; }

  #tactileDesign {
    margin: 0 auto;
    line-height: 0;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 0px;
    -moz-column-count: 1 !important;
    -moz-column-gap: 1px;
    column-count: 1 !important;
    column-gap: 0px; }

  .imageOverlay {
    display: none !important; }

  .tabs .tab,
  .tabs label {
    order: initial; }

  .tabs label {
    width: 100%;
    margin: 0px !important;
    border-bottom: 2px solid #6380A6 !important;
    background-color: #705d9b;
    padding: 9px !important;
    font-size: 19px;
    color: white; }

  .tabs input[type="radio"]:checked + label {
    background-color: #191919;
    color: white; } }
@media screen and (max-width: 450px) {
  .projectDescrip {
    display: none !important; }

  #uhaul {
    overflow: initial;
    border-bottom: none; }

  #solarSpell {
    border-bottom: none; }

  #babyShower {
    border-bottom: none; }

  #thymeforDinner {
    border-bottom: none; }

  .uximgContainer {
    width: 100%; }

  .projectDescrip p {
    font-size: 12px !important; }

  .projectDescrip {
    position: relative !important; } }
@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/*# sourceMappingURL=portfolio.css.map */
