@font-face {
	font-family: Catamaran-Bold;
	src: url(../fonts/Catamaran-Bold.ttf);
}

@font-face {
	font-family: Catamaran-Medium;
	src: url(../fonts/Catamaran-Medium.ttf);
}

@font-face {
	font-family: Catamaran-Black;
	src: url(../fonts/Catamaran-Black.ttf);
}

@font-face {
	font-family: Catamaran-ExtraLight;
	src: url(../fonts/Catamaran-ExtraLight.ttf);
}


@font-face {
	font-family: Catamaran-Light;
	src: url(../fonts/Catamaran-Light.ttf);

}


@font-face {
	font-family: Catamaran-Regular;
	src: url(../fonts/Catamaran-Regular.ttf);
}

@font-face {
    font-family: Museo-Slab;
    src: url(../fonts/Museo_Slab_500.otf);

}

@font-face {
    font-family: bebas;
    src: url(../fonts/bebas.otf);

}


#wrapper {
	width: 75%;
	margin: 0 auto;
}


.persona {
	
	max-width: 900px;
	position: relative;
	margin: 0 auto;
	display: block;
	float: right;
	width: 40%;
	max-width: 400px;
	padding: 2%;
}

#personaText {

	float: left;
	width: 50%;
}

#restofText {

	clear: both;
}

#uhaulHeader button {
	position: absolute;
	z-index: 1;
	top: 50%;
	display: inline;
	margin: 30px;
	cursor: hand;

}


h1 {
	font-size: 7vw;
	color: #2E3E58;
	text-align: left;
	font-family: Catamaran-Bold;
	line-height: 1em;
}

#highlight h1 {

	text-align: center;
}


#individualPage a {

font-family: Catamaran-Medium;
font-size: 2.5vw;
color: #324775;

}

#individualPage a:visited {
	color: #324775;
}

#individualPage a:nth-child(2) {

font-family: Catamaran-Medium;
float: right;
}


#linkContainer a {

	z-index: 1;
	width: 40%;
	height: 90px;


	
}

 button {
	background: transparent;
	border: 2px solid black;
	width: auto;
	font-family: Catamaran-Medium;
	font-size: 25px;
	cursor: pointer;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

button:hover {
	color: #ff929c;
	border: 2px solid #ff929c!important;
}




h2 {
	font-size: 4vw;
	color: #2E3E58;
	text-align: center;
	font-family: Catamaran-Bold;
	line-height: .5em;
}

.bold {
	font-family: Catamaran-Bold;
	font-size: 1.5em;
	padding-bottom: 1em;
}

p {

	font-size: 1.4em;
	color: #757575;
	text-align: justify;
	font-family: Catamaran-Regular;
	max-width: 900px;
	margin: 0 auto;
}



.uhaulRole {
	float: left;
	width: 45%
	

}

#uhaulPalette {
	float: right;
	width: 45%;
}

#uhaulcreativeProcess {
	clear: both;
	
}


}

img {
	width: 100%;
}

/*babyshower*/


.babyshowersketch {

	width: 35%;
	float: right;
	margin-bottom: 3%;
}

#babyshowermockups img {

width: 32%;
display: inline-block;
}


#babyshowermockups {
	clear: both;
}

#babyshowersketchdescrip {
	width: 45%;
	float: left;
}


/*THYME FOR DINNER*/ 

#designHeader img {

	width: 100%;
}

#designHeader {
	line-height: 0;
	margin-bottom: -10px;
}

#designandTypefaces {

	  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  flex-direction: row;

}


#designColors {

	width: 50%;
	background-color: white;

  flex: 1;


}


#designTypefaces {

	width: 50%;

	background-color: #e4e4e4;


flex: 1;

}

#typefacesContainer {

	padding: 4%;
	
}


.museo {

	font-family: Museo-Slab, arial, sans-serif;
	font-size: 3.8em;
	color: #565656;
}

.bebas {

	font-family: bebas, arial, sans-serif;
	font-size: 2.4em;
	color: #565656;
	padding-bottom: 9px;
}

.openSans {
	font-family: 'Open-Sans', arial, sans-serif;
	color: #565656;
	font-size: .8em;
}

.typefaceDescription {
font-family: 'Open-Sans', arial, sans-serif;
color: #d85300;
padding-bottom: 3.5%;
font-size: 1.4vw;

}

#grey {

	width: 100%;
	height: 60px;
	background-color: #565656;
	  display: -webkit-flex;
  display: -ms-flexbox;


	
}

#orange {

	width: 100%;
	height: 60px;
	background-color: #d85300;
	  display: -webkit-flex;
  display: -ms-flexbox;


	
}

#lightGrey {
width: 100%;
	height: 60px;
	background-color: #e4e4e4;
	  display: -webkit-flex;
  display: -ms-flexbox;


}


#designColors p {
color: white;
text-align: center;
padding-top: 16px;

}

#lightGrey p {

	color: black;
}



#designLogo {

	background-color: #565656;
	position: relative;
	top: -42px;
	
}

#designLogo h2 {
	line-height: 1.7em;
	color: white;
	padding-top: 10px;
}
#designLogo img {

	width: 100%;
	position: relative;
top: -30px;
}


#mockups img {

	width: 100%;
}

#mockups p {

	margin-bottom: 4%;
	text-align: left;
}

.uhaulMockups p {

	margin-bottom: 1%!important;


}

#iphones {
display: flex;
display: -webkit-box; 
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex; 
justify-content: space-around;
 
}

#iphones img {

	width: 95%;
}



@media (max-width: 1016px) {


.museo {


	font-size: 2.5em;

}

.bebas {

	font-size: 1.7em;
}

}
						
						
@media (max-width: 700px) {


button {

	font-size: 3vw;
}

h2 {
	font-size: 5.4vw;
	color: #2E3E58;
	text-align: center;
	font-family: Catamaran-Bold;
	line-height: 1em;
}

	#personaText {

		float: none;
		width: auto;
	}

	#branding {
		clear: none;
	
		
	}

	#restofText {
		clear: none;
	}

	.persona {

		float: none;
	}

#designandTypefaces {

	  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  flex-direction: column;

}


#designColors {

	width: 100%;
	background-color: white;
	height: 10em;
	flex: 1;


}


#designTypefaces {

	width: 100%;
	height: 350px;
	background-color: #e4e4e4;
flex: 1;

}
	.museo {

		font-size: 7.2vw;
	}

	.bebas {

		font-family: bebas, arial, sans-serif;
		font-size: 5.6vw;
		color: #565656;
	}

	.openSans {
		font-family: 'Open-Sans', arial, sans-serif;
		color: #565656;
		font-size: 1em;
	}

		#designLogo {

	margin-top: 80px;
		position: initial;
	top: 0px

}

#designLogo h2 {

	line-height: 3.7em;
}


	/*BABY SHOWER*/


		#babyshowermockups img 
		{
			width: 100%;
			display: block;


		}

		.babyshowersketch {
			width: 100%;
		}

		#babyshowersketchdescrip {
			float: none!;
			width: 100%;
		}

		p {

			font-size: 1em;
		}


	.typefaceDescription {
	font-family: 'Open-Sans', arial, sans-serif;
	color: #d85300;
	padding-bottom: 3.5%;
	font-size: .7em;

	}

		.bold {

			font-size: 1.2em;
			text-align: left;
		}

		.persona {
		max-width: none;
		position: relative;
		margin: 0 auto;
		display: block;
			float: right;
		width: 90%;
		max-width: 400px;
		padding: 10px;
	}

	#iphones {
display: flex;
display: -webkit-box; 
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex; 
justify-content: space-around;
flex-direction: column;
justify-content: center;
align-items: center;

 
}

#iphone1, #iphone2, #iphone3{
	align-self: center;
	width: 75%;
}

}
