/*makes header take up whole page */
body {
  margin: 0; }

nav {
  left: 48%;
  margin-right: 5%;
  margin-top: 2%;
  position: fixed; }

nav ul {
  text-decoration: none; }

nav li {
  display: inline;
  margin-left: 60px;
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 20px; }

nav li a {
  text-decoration: none;
  color: white; }

.current-page {
  border-bottom: 1.5px solid white; }

header li a:hover {
  border-bottom: 1.5px solid white; }

.header-text {
  color: white;
  text-align: center;
  margin-top: 0;
  position: fixed;
  margin-top: 165px;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  z-index: 1; }

.header-text h2 {
  font-family: Brownhill-Script, sans-serif;
  font-size: 140px;
  color: red; }

.header-text p {
  font-family: Catamaran-ExtraLight, sans-serif;
  font-size: 22px;
  margin-top: 2px; }

header {
  background-image: url(../html/images/blob.png);
  background-size: auto 650px;
  background-position: 50% -30px;
  height: 580px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -100;
  top: 0; }

.wave img {
  position: relative;
  top: -190px;
  overflow: hidden; }

.wave {
  height: 0;
  background-color: red;
  width: 100%; }

.hidden-on-desktop {
  display: none; }

#headerImage {
  width: 100%;
  position: relative;
  overflow: hidden; }

.hidden {
  display: none; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 101;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #e5e5e5;
  display: block;
  transition: 0.3s;
  font-family: Catamaran-Light; }

.overlay a:hover, .overlay a:focus {
  color: #4e728b; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-width: 2455px) {
  header {
    background-image: url(../html/images/blob-xl.png);
    background-size: auto 800px; } }
@media screen and (max-width: 1900px) {
  header {
    background-image: url(../html/images/blob.png);
    background-size: auto 690px; } }
@media screen and (max-width: 1338px) {
  nav {
    left: 45%; }

  header {
    background-image: url(../html/images/blob-med.png);
    height: 500px;
    background-size: auto 650px; }

  .wave img {
    top: -110px; } }
@media screen and (max-width: 1105px) {
  nav {
    display: none; }

  header {
    background-size: cover;
    height: 400px;
    background-size: auto 520px;
    min-height: initial; }

  .hidden-on-desktop {
    display: initial; }

  .burger {
    width: 103%;
    top: -110px;
    font-size: 55px;
    cursor: pointer;
    color: white;
    margin-top: -360px;
    margin-left: 91%;
    z-index: -100; }

  .burger img {
    width: 40px; }

  .header-text {
    margin-top: 25px; }
    .header-text .wave {
      height: 0px;
      background-color: white;
      width: 100%; } }
@media screen and (max-width: 1105px) and (max-width: 770px) {
  header {
    background-image: url(../html/images/blob-small.png);
    background-size: cover;
    background-size: auto 390px;
    min-height: initial;
    height: 250px; }

  .header-text {
    margin-top: -30px; }

  .header-text p {
    font-size: 18px; }

  .burger {
    margin-top: -240px;
    left: 87.8%; }

  .wave {
    height: 9px;
    width: 100%;
    background-color: white; }

  .wave img {
    top: -90px; } }
@media screen and (max-width: 1105px) and (max-width: 647px) {
  .wave img {
    top: -50px; }

  .burger {
    margin-left: 87%; }

  .header-text {
    margin-top: 10px; } }
@media screen and (max-width: 1105px) and (max-width: 450px) {
  header {
    height: 200px; }

  .burger {
    margin-top: 100px;
    margin-left: 85%; }

  .header-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }

  .header-text img {
    width: 100%; }

  .header-text p {
    font-size: 16px; }

  .wave img {
    display: none; } }
@media screen and (max-width: 1105px) and (max-width: 350px) {
  .wave {
    display: none; }

  .burger {
    margin-left: 81%; } }
.space {
  height: 50px;
  width: 1px; }

strong {
  color: white; }

#highlight {
  background-color: #1A1A1A;
  padding-top: 1px;
  width: 100%;
  height: auto; }

#highlight h1 {
  text-align: center;
  font-size: 7vw;
  color: #2E3E58;
  text-align: center;
  font-family: Catamaran-Bold;
  margin: 0px; }

#nextBar {
  background-color: #e4e4ef;
  height: 33px;
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  z-index: 1; }

#nextBar button {
  background-color: #705d9b;
  border: none;
  width: 200px;
  color: white;
  font-family: Catamaran-Medium;
  height: 33px;
  font-size: 20px;
  cursor: pointer; }

#nextBar a:nth-child(2) {
  float: right; }

@media screen and (max-width: 680px) {
  #nextBar {
    position: initial; }

  #nextBar button {
    font-size: 15px;
    width: 130px; } }
@media screen and (max-width: 500px) {
  #nextBar button {
    font-size: 18.5px;
    width: 140px;
    height: 47px; }

  #nextBar {
    height: 47px; } }
@media screen and (max-width: 450px) {
  #nextBar button {
    font-size: 15px;
    width: 103px; } }
@font-face {
  font-family: Catamaran-Medium;
  src: url(../fonts/Catamaran-Medium.ttf); }
#footerspace {
  padding: 5px; }

footer {
  width: 100%;
  height: auto;
  background-color: #191919;
  float: left;
  clear: both;
  margin: 0 auto;
  text-align: center; }

footer p {
  color: #A5A5A5;
  text-align: center;
  font-size: 12px;
  font-family: Catamaran-Medium, sans-serif;
  margin-top: 10px;
  max-width: initial;
  left: 35%; }

.socialIcons img {
  padding: 20px 20px 10px 20px; }

@media screen and (max-width: 390px) {
  .socialIcons {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px; }

  .socialIcons img {
    padding: 5px 20px 5px 20px; } }
@font-face {
  font-family: Catamaran-Bold;
  src: url(../fonts/Catamaran-Bold.ttf); }
@font-face {
  font-family: Catamaran-Medium;
  src: url(../fonts/Catamaran-Medium.ttf); }
@font-face {
  font-family: Catamaran-Black;
  src: url(../fonts/Catamaran-Black.ttf); }
@font-face {
  font-family: Catamaran-ExtraLight;
  src: url(../fonts/Catamaran-ExtraLight.ttf); }
@font-face {
  font-family: Catamaran-Light;
  src: url(../fonts/Catamaran-Light.ttf); }
@font-face {
  font-family: Catamaran-Regular;
  src: url(../fonts/Catamaran-Regular.ttf); }
@font-face {
  font-family: Museo-Slab;
  src: url(../fonts/Museo_Slab_500.otf); }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas.otf); }
#wrapper {
  width: 80%;
  margin: 0 auto;
  z-index: 2;
  position: relative; }

/*SOLARSPELL PAGE*/
.main-mockup {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

.original-mockups-flex-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; }

.original-mockups-flex-box img {
  width: 95%;
  border: 1.5px solid gray;
  margin-left: 2.5%;
  margin-right: 2.5%; }

li p {
  margin: 0;
  padding: 3px; }

li {
  list-style-image: url(../images/x.png); }

/*END SOLARSPELL*/
.button-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2px; }

.button-flex-item {
  flex: 2; }

.button {
  background: #705d9b;
  border: 2px solid white;
  color: white;
  width: 100%;
  height: 55px;
  font-family: Catamaran-Medium;
  font-size: 19px;
  cursor: pointer;
  flex: 2; }

/*this makes the buttons  hover*/
button:hover {
  border: 2px solid #705d9b;
  background: white;
  color: #705d9b; }

.persona {
  max-width: 900px;
  position: relative;
  margin: 0 auto;
  display: block;
  float: right;
  width: 40%;
  max-width: 400px;
  padding: 2%; }

#personaText {
  float: left;
  width: 50%; }

#restofText {
  clear: both; }

#uhaulHeader button {
  position: absolute;
  z-index: 1;
  top: 50%;
  display: inline;
  margin: 30px;
  cursor: hand; }

.wireframes {
  width: 80%;
  max-width: 1000px;
  margin-right: 10%;
  margin-left: 10%; }

h2 {
  font-size: 5vw;
  color: #705d9b;
  text-align: left;
  font-family: Catamaran-Bold;
  line-height: 1em;
  clear: both; }

#linkContainer button {
  background: transparent;
  border: 2px solid black;
  width: auto;
  font-family: Catamaran-Medium;
  font-size: 25px;
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

#linkContainer button:hover {
  color: #ff929c;
  border: 2px solid #ff929c !important; }

h3 {
  font-size: 4vw;
  color: #705d9b;
  text-align: center;
  font-family: Catamaran-Bold;
  line-height: .5em; }

.bold {
  font-family: Catamaran-Bold;
  font-size: 1.5em;
  padding-bottom: 1em; }

#wrapper p {
  font-size: 1.4em;
  color: #757575;
  text-align: left;
  font-family: Catamaran-Regular;
  max-width: 1200px; }

.in-text-emphasis {
  font-family: Catamaran-Bold; }

.uhaulRole {
  float: left;
  width: 45%; }

#uhaulPalette {
  float: right;
  width: 45%; }

#uhaulcreativeProcess {
  clear: both; }

/*CarDash*/
.original-mockups img {
  width: 40%;
  float: left;
  border: 2px solid #E5E5E5;
  margin-bottom: 2%; }

.original-mockups ul {
  float: right;
  max-width: 40%; }

.original-mockups li {
  font-size: 1.4em;
  color: #757575;
  text-align: left;
  font-family: Catamaran-Regular;
  max-width: 1200px; }

#babyshowermockups {
  clear: both; }

/*THYME FOR DINNER*/
#designHeader img {
  width: 100%; }

#designHeader {
  line-height: 0;
  margin-bottom: -10px; }

#designandTypefaces {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  flex-direction: row; }

#designColors {
  width: 50%;
  background-color: white;
  flex: 1; }

#designTypefaces {
  width: 50%;
  background-color: #e4e4e4;
  flex: 1; }

#typefacesContainer {
  padding: 4%; }

.museo {
  font-family: Museo-Slab, arial, sans-serif;
  font-size: 3.8em;
  color: #565656;
  margin: 0; }

.bebas {
  font-family: bebas, arial, sans-serif;
  font-size: 2.4em;
  color: #565656;
  margin: 0;
  padding-bottom: 9px; }

.openSans {
  font-family: 'Open-Sans', arial, sans-serif;
  color: #565656;
  font-size: .8em;
  margin: 0; }

.typefaceDescription {
  font-family: 'Open-Sans', arial, sans-serif;
  color: #d85300;
  padding-bottom: 3.5%;
  font-size: 1.4vw; }

#grey {
  width: 100%;
  height: 60px;
  background-color: #565656;
  display: -webkit-flex;
  display: -ms-flexbox; }

#orange {
  width: 100%;
  height: 60px;
  background-color: #d85300;
  display: -webkit-flex;
  display: -ms-flexbox; }

#lightGrey {
  width: 100%;
  height: 60px;
  background-color: #e4e4e4;
  display: -webkit-flex;
  display: -ms-flexbox; }

#designColors p {
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 3%; }

#lightGrey p {
  color: black; }

#designLogo {
  background-color: #565656;
  position: relative;
  top: -50px; }

#designLogo h3 {
  line-height: 1.7em;
  color: white;
  padding-top: 10px; }

#designLogo img {
  width: 100%;
  position: relative;
  top: -30px; }

.mockupImages {
  width: 76%;
  margin-right: 12%;
  margin-left: 12%;
  box-shadow: 10px 10px 53px rgba(0, 0, 0, 0.3); }

.mockupDescrip p {
  margin-bottom: 4%;
  text-align: right;
  padding-top: 10%;
  padding-bottom: 10%; }

.mockupDescrip img {
  float: right;
  width: 27%;
  margin-left: 5%;
  margin-bottom: 5%; }

.mockupDescrip {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%; }

@media (max-width: 1016px) {
  .original-mockups-flex-container {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column; }

  .original-mockups-flex-box img {
    width: 95%;
    border: 1.5px solid gray;
    margin-left: 2.5%;
    margin-right: 2.5%; }

  .mockupDescrip img {
    float: right;
    width: 34%;
    margin-left: 5%;
    margin-bottom: 5%; }

  .museo {
    font-size: 2.5em; }

  .bebas {
    font-size: 1.7em; }

  .original-mockups li {
    font-size: 20px; } }
@media screen and (max-width: 700px) {
  .button {
    font-size: 14px; }

  .wireframes {
    width: 100%;
    margin: 0; }

  .mockupDescrip {
    width: 100%; }

  .mockupImages {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 3%; }

  #mockups p {
    width: 100%;
    display: inline; }

  .mockupDescrip img {
    float: right;
    width: 40%;
    display: inline;
    padding: none;
    margin-bottom: none; }

  button {
    font-size: 3vw; }

  h2 {
    font-size: 5.4vw;
    color: #705d9b;
    text-align: center;
    font-family: Catamaran-Bold;
    line-height: 1em; }

  #personaText {
    float: none;
    width: auto; }

  #branding {
    clear: none; }

  #restofText {
    clear: none; }

  .persona {
    float: none; }

  #designandTypefaces {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    flex-direction: column; }

  #designColors {
    width: 100%;
    background-color: white;
    height: 10em;
    flex: 1; }

  #designTypefaces {
    width: 100%;
    height: 350px;
    background-color: #e4e4e4;
    flex: 1; }

  .museo {
    font-size: 7.2vw; }

  .bebas {
    font-family: bebas, arial, sans-serif;
    font-size: 5.6vw;
    color: #565656; }

  .openSans {
    font-family: 'Open-Sans', arial, sans-serif;
    color: #565656;
    font-size: 1em; }

  #designLogo {
    margin-top: 80px;
    position: initial;
    top: 0px; }

  #designLogo h3 {
    line-height: 3.7em; }

  /*cardash*/
  .original-mockups li {
    font-size: 15px; }

  .typefaceDescription {
    font-family: 'Open-Sans', arial, sans-serif;
    color: #d85300;
    padding-bottom: 3.5%;
    font-size: .7em; }

  .bold {
    font-size: 1.2em;
    text-align: left; }

  .persona {
    max-width: none;
    position: relative;
    margin: 0 auto;
    display: block;
    float: right;
    width: 90%;
    max-width: 400px;
    padding: 10px; }

  #iphones {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  #iphone1, #iphone2, #iphone3 {
    align-self: center;
    width: 75%; } }
@media screen and (max-width: 550px) {
  /*cardash*/
  .original-mockups li {
    display: none; }

  .original-mockups img {
    width: 90%;
    margin: 0 auto; }

  .button-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 2px; }

  .button-flex-item {
    flex: 2; }

  .button {
    border: 2px solid white;
    color: white;
    width: 100%;
    height: 55px;
    font-family: Catamaran-Medium;
    font-size: 19px;
    cursor: pointer;
    flex: 2; } }
@media screen and (max-width: 450px) {
  #mockupDescrip {
    display: initial; }

  #mockups p {
    width: 100%;
    display: block;
    text-align: left; }

  .mockupDescrip img {
    float: initial;
    width: 70%;
    display: inline;
    padding: none;
    margin-right: 10%;
    margin-left: 10%; }

  h2 {
    font-size: 9vw; } }

/*# sourceMappingURL=uxprojects.css.map */
