
$purple: #705d9b;

$grey: #1A1A1A; 

$hover: #BFBC82;

$lightgrey: #4F4F4F;

@import 'header';
@import 'nextbar';
@import 'footer';

@font-face {
	font-family: Catamaran-Bold;
	src: url(../fonts/Catamaran-Bold.ttf);
}

@font-face {
	font-family: Catamaran-Medium;
	src: url(../fonts/Catamaran-Medium.ttf);
}

@font-face {
	font-family: Catamaran-Black;
	src: url(../fonts/Catamaran-Black.ttf);
}

@font-face {
	font-family: Catamaran-ExtraLight;
	src: url(../fonts/Catamaran-ExtraLight.ttf);
}


@font-face {
	font-family: Catamaran-Light;
	src: url(../fonts/Catamaran-Light.ttf);

}


@font-face {
	font-family: Catamaran-Regular;
	src: url(../fonts/Catamaran-Regular.ttf);
}

@font-face {
    font-family: Museo-Slab;
    src: url(../fonts/Museo_Slab_500.otf);

}

@font-face {
    font-family: bebas;
    src: url(../fonts/bebas.otf);

}


#wrapper {
	width: 80%;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}

/*SOLARSPELL PAGE*/


.original-mockups-flex-container {

display: flex; 
display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

}

.original-mockups-flex-box img {

width: 95%;
border: 1.5px solid gray;
margin-left: 2.5%;
margin-right: 2.5%;

}

li p {

	margin: 0;
	padding: 3px;


} 

.original-mockups-flex-box li {

list-style-image: url(../images/x.png);

}

/*END SOLARSPELL*/

.button-flex-container {

	display: flex;
	justify-content: space-between; 
	width: 100%;
	margin-top: 2px;

}

.button-flex-item {

	flex: 2;


}



.button {
	background: $purple;
	border: 2px solid white;
	color: white;
	width: 100%;
	height: 55px;
	font-family: Catamaran-Medium;
	font-size: 19px;
	cursor: pointer;
	flex: 2;


}




/*this makes the buttons  hover*/


button:hover {

	border: 4px solid $purple;
	color: white;
}


.persona {
	
	max-width: 900px;
	position: relative;
	margin: 0 auto;
	display: block;
	float: right;
	width: 40%;
	max-width: 400px;
	padding: 2%;
}

#personaText {

	float: left;
	width: 50%;
}

#restofText {

	clear: both;
}

#uhaulHeader button {
	position: absolute;
	z-index: 1;
	top: 50%;
	display: inline;
	margin: 30px;
	cursor: hand;

}

.wireframes {

	width: 80%; 
	max-width:1000px;
	margin-right: 10%;
	margin-left: 10%;
}


h2 {
	font-size: 5vw;
	color: $purple;
	text-align: left;
	font-family: Catamaran-Bold;
	line-height: 1em;
}


 #linkContainer button {
	background: transparent;
	border: 2px solid black;
	width: auto;
	font-family: Catamaran-Medium;
	font-size: 25px;
	cursor: pointer;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

#linkContainer button:hover {
	color: #ff929c;
	border: 2px solid #ff929c!important;
}




h3 {
	font-size: 4vw;
	color: $purple;
	text-align: center;
	font-family: Catamaran-Bold;
	line-height: .5em;
}


.bold {
	font-family: Catamaran-Bold;
	font-size: 1.5em;
	padding-bottom: 1em;
}

#wrapper p {

	font-size: 1.4em;
	color: #757575;
	text-align: left;
	font-family: Catamaran-Regular;
	max-width: 1200px;
	
}

.in-text-emphasis {

	font-family: Catamaran-Bold;
}


.uhaulRole {
	float: left;
	width: 45%
	

}

#uhaulPalette {
	float: right;
	width: 45%;
}

#uhaulcreativeProcess {
	clear: both;
	
}


/*babyshower*/


.babyshowersketch {

	width: 35%;
	float: right;
	margin-bottom: 3%;
}

#babyshowermockups img {

width: 32%;
display: inline-block;
}


#babyshowermockups {
	clear: both;
}

#babyshowersketchdescrip {
	width: 45%;
	float: left;
}


/*THYME FOR DINNER*/ 

#designHeader img {

	width: 100%;
}

#designHeader {
	line-height: 0;
	margin-bottom: -10px;
}

#designandTypefaces {

	  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  flex-direction: row;

}


#designColors {

	width: 50%;
	background-color: white;

  flex: 1;


}


#designTypefaces {

	width: 50%;

	background-color: #e4e4e4;


flex: 1;

}

#typefacesContainer {

	padding: 4%;
	
}


.museo {

	font-family: Museo-Slab, arial, sans-serif;
	font-size: 3.8em;
	color: #565656;
	margin: 0;
}

.bebas {

	font-family: bebas, arial, sans-serif;
	font-size: 2.4em;
	color: #565656;
	margin: 0;
	padding-bottom: 9px;
}

.openSans {
	font-family: 'Open-Sans', arial, sans-serif;
	color: #565656;
	font-size: .8em;
	margin: 0;
}

.typefaceDescription {
font-family: 'Open-Sans', arial, sans-serif;
color: #d85300;
padding-bottom: 3.5%;
font-size: 1.4vw;

}

#grey {

	width: 100%;
	height: 60px;
	background-color: #565656;
	  display: -webkit-flex;
  display: -ms-flexbox;


	
}

#orange {

	width: 100%;
	height: 60px;
	background-color: #d85300;
	  display: -webkit-flex;
  display: -ms-flexbox;


	
}

#lightGrey {
width: 100%;
	height: 60px;
	background-color: #e4e4e4;
	  display: -webkit-flex;
  display: -ms-flexbox;


}


#designColors p {
color: white;
text-align: center;
margin: 0 auto;
padding-top: 3%;


}

#lightGrey p {

	color: black;
}



#designLogo {

	background-color: #565656;
	position: relative;
	top: -50px;
	
}

#designLogo h3 {
	line-height: 1.7em;
	color: white;
	padding-top: 10px;
}
#designLogo img {

	width: 100%;
	position: relative;
top: -30px;
}


.mockupImages {

	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	
}

.mockupDescrip p {

	margin-bottom: 4%;
	text-align: right;
	padding-top: 10%;
	padding-bottom: 10%;
	
}

	.mockupDescrip img {

		float: right;
		width: 27%;
		margin-left: 5%;
		margin-bottom: 5%;
	}
.mockupDescrip {

	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}






@media (max-width: 1016px) {


	.original-mockups-flex-container {
flex-direction: column;
-webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

}

.original-mockups-flex-box img {

width: 95%;
border: 1.5px solid gray;
margin-left: 2.5%;
margin-right: 2.5%;

}


	.mockupDescrip img {

		float: right;
		width: 34%;
		margin-left: 5%;
		margin-bottom: 5%;
	}


.museo {


	font-size: 2.5em;

}

.bebas {

	font-size: 1.7em;
}

}
						
						
@media screen and (max-width: 700px) {



.button {

	font-size: 14px;
}

.wireframes {

	width: 100%;
	margin: 0;
}

.mockupDescrip {

	width: 100%;
}

.mockupImages {

	width: 100%;
	margin-right: 0;
	margin-left: 0;
	margin-top: 3%;
}

#mockups p {

	width: 100%;
	display: inline;
} 

	.mockupDescrip img {

		float: right;
		width: 40%;
		display: inline;
		padding: none;
		margin-bottom: none;
	}

button {

	font-size: 3vw;
}

h2 {
	font-size: 5.4vw;
	color: $purple;
	text-align: center;
	font-family: Catamaran-Bold;
	line-height: 1em;
}

	#personaText {

		float: none;
		width: auto;
	}

	#branding {
		clear: none;
	
		
	}

	#restofText {
		clear: none;
	}

	.persona {

		float: none;
	}

#designandTypefaces {

	  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  flex-direction: column;

}


#designColors {

	width: 100%;
	background-color: white;
	height: 10em;
	flex: 1;


}


#designTypefaces {

	width: 100%;
	height: 350px;
	background-color: #e4e4e4;
flex: 1;

}
	.museo {

		font-size: 7.2vw;
	}

	.bebas {

		font-family: bebas, arial, sans-serif;
		font-size: 5.6vw;
		color: #565656;
	}

	.openSans {
		font-family: 'Open-Sans', arial, sans-serif;
		color: #565656;
		font-size: 1em;
	}

		#designLogo {

	margin-top: 80px;
		position: initial;
	top: 0px

}

#designLogo h3 {

	line-height: 3.7em;
}


	/*BABY SHOWER*/


		#babyshowermockups img 
		{
			width: 100%;
			display: block;


		}

		.babyshowersketch {
			width: 100%;
		}

		#babyshowersketchdescrip {
			float: none;
			width: 100%;
		}

		p {

			font-size: 1em;
		}


	.typefaceDescription {
	font-family: 'Open-Sans', arial, sans-serif;
	color: #d85300;
	padding-bottom: 3.5%;
	font-size: .7em;

	}

		.bold {

			font-size: 1.2em;
			text-align: left;
		}

		.persona {
		max-width: none;
		position: relative;
		margin: 0 auto;
		display: block;
			float: right;
		width: 90%;
		max-width: 400px;
		padding: 10px;
	}

	#iphones {
display: flex;
display: -webkit-box; 
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex; 
justify-content: space-around;
flex-direction: column;
justify-content: center;
align-items: center;

 
}

#iphone1, #iphone2, #iphone3{
	align-self: center;
	width: 75%;
}

}



@media screen and (max-width: 550px) {


.button-flex-container {

	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	width: 100%;
	margin-top: 2px;

}

.button-flex-item {

	flex: 2;


}



.button {
	
	border: 2px solid white;
	color: white;
	width: 100%;
	height: 55px;
	font-family: Catamaran-Medium;
	font-size: 19px;
	cursor: pointer;
	flex: 2;


}



}

@media screen and (max-width: 450px) {

#mockupDescrip {

	display: initial;

}
#mockups p {

	width: 100%;
	display: block;
	text-align: left;
} 

	.mockupDescrip img {

		float: initial;
		width: 70%;
		display: inline;
		padding: none;
		margin-right: 10%;
		margin-left: 10%;


}

h2 {

font-size: 9vw;

} 

}