header {
	background-image: url(landscape-01.png);
	background-repeat: no-repeat;
	
	
}

.logo {
	position: relative;
	left: 40%;
	top: -0px;
       
	}


h1 {
  position: relative;

}

.trtri { background: grey; }

h1.trtri span { float: left; }

.trtri:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: inline;
  bottom: 200%;
  right: -9px;
  border-bottom: 10px solid #919191;
  border-right: 9.2px solid transparent;
}




.trtriAbout { 
	background: grey; 
}


.trtriAbout:before {
  bottom: 200%;
  right: -9px;
  border-bottom: 10px solid #919191;
  border-right: 9.2px solid transparent;
    content: '';
  position: absolute;
  height: 0;
  width: 0;
}

.trtriContact { 
	background: grey; 
}


.trtriContact:before {
  bottom: 200%;
  right: -9px;
  border-bottom: 10px solid #919191;
  border-right: 9.2px solid transparent;
    content: '';
  position: absolute;
  height: 0;
  width: 0;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}


body {
	background-color: #F2F1FF;
}

 .portfolio {
	width: 400px;
}

#sidebar #sidebarHeader{
	color: white !important;
	font-family: arial, helvetica, sans-serif;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

h1 {

	text-align: center;
	font-size: 39px;
	margin-bottom: 20px;
	font-family: elephnt;

}




h3 {
	color: white;
	padding: 7px;
	font-size: 20px;
	font-family: arial, helvetica, sans-serif;
	text-align: center;
}

#sideBar a {

}

@font-face {
    font-family: kollektif;
    src: url(kollektif.ttf);

}

@font-face {
    font-family: elephnt;
    src: url(ELEPHNT.TTF);
}

p {
	font-family: kollektif, arial, sans-serif;
	font-size: 20px; 
	line-height: 130%;
	padding: 8px; 
	margin-left: 10px;
}

nav {
	width: 962.8px;
	display: block;
	padding: 3px;
	background-color: black;
	margin: 0 auto;

}

nav a:hover {
	color: white;

}

a:active {
	color: yellow;

}

.activePage {
text-decoration: underline; 
}


nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline;
	margin: 60px;
}

nav li a {
	color: #16B1FF; 
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	font-family: arial, helvetica, sans-serif;

}

/*indvidual pages*/

figcaption {
    font-family: norwester;
    font-size: 25px;
    margin-bottom: 15px;
    color: black;
    right: 500px;
    margin-top: 50px;
   
}

.imageDescription {
	 font-family: norwester;
    font-size: 40px;
    margin-bottom: 15px;
    color: black;
    right: 500px;
    margin-top: 50px;
    text-align: center;
}

.imageIndividual {
	width: 100%;
   position: relative;
   right: 20%;
	margin-bottom: 10px;
}



/*index*/


section {
	padding: 20px;
	text-align: center;
}

@font-face {
    font-family: norwester;
    src: url(norwester.otf);
}


#images {
	
	margin: 0 auto;
}

figure {
	margin-left: 300px;
}





.landscape {
       float: left;
        width:470px;     
        height:470px;    
        overflow:hidden;   
        display: inline-block;

    }

.landscape  img{
      
        height: 470px;   
            border: 1px solid black;
    }

.portrait {
   float: left;
        width:470px;
        height:470px;
        overflow:hidden;  
        display: inline;
        
    }

.portrait img {
        width:470px;      
        
    }

      .landscape:hover {
  	.opacity -webkit-filter: opacity(50%);filter: opacity(50%);
  }
   .portrait:hover {
  	.opacity -webkit-filter: opacity(50%);filter: opacity(50%);
  }


/*about*/

.myportrait {

width: 30%;
float: left;

}

#about {
	float: right;
	width: 600px;
	color: black;
}

/*contact*/




#sidebar {
	float: right;
	margin: 25px;
	display: block;
	background-color: #69787F;
	padding: 50px;
	width: 175px;
}

#headericons {
	display: inline;
	float: right;
	margin-right: 20px;
	margin-top: 50px;
	background-color: rgba(255, 255, 255, .2); 
	box-shadow: 7px 7px 5px #141414;
}

.icon {
	width: 50px;
	display: inline;
	border: 1px solid white;
}



.headericon {
	width: 50px;
	display: block;
	margin: 10px;

}

.headericon:hover {
	.opacity -webkit-filter: opacity(50%);filter: opacity(50%);
}

#contactInfo {
	display: block;
	line-height: 200%;
	color: white;
	text-decoration: none;
	text-align: left;
}

#contactInfo a {
	display: block;
	color: white;

}

#formWrapper h2 {
 
	
}

#formWrapper {
	width: 450px;
	position: relative;
	left: 22%;
}

form {
	float: left;
	width: 500px; 
	padding: 10px;

}

input {
    display: block;
    height: 40px;
    width: 300px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 2px solid black;
   
	}

label {
	text-align: left;
	font-weight: bold;
    font-family: arial, helvetica, sans-serif;	
}


textarea {
	display: block;
	height: 150px;
	width: 400px; 
	 margin-top: 12px;
	 margin-bottom: 12px;
    border: 2px solid black;
}

#mySubmit {
	display: inline;
	margin-top: 13px;
	width: 100px;
	background-color: white;
	text-align: center;
	font-weight: bold;

}


footer {
	text-align: center;
	font-size: 12px;
	background-color: black;
	clear: both;
	color: #62CBFF;
	margin-top: 50px;
	
}