header {
	background-image: url(landscape-01.png);
	background-repeat: no-repeat;
	
	
}

.logo {
	position: relative;
	left: 40%;
	top: -0px;
       
	}


h1 {
  position: relative;

}

.trtri { background: grey; }

h1.trtri span { float: left; }

.trtri:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  display: inline;
  bottom: 200%;
  right: -9px;
  border-bottom: 10px solid #919191;
  border-right: 9.2px solid transparent;
}




.trtriAbout { 
	background: grey; 
}


.trtriAbout:before {
  bottom: 200%;
  right: -9px;
  border-bottom: 10px solid #919191;
  border-right: 9.2px solid transparent;
    content: '';
  position: absolute;
  height: 0;
  width: 0;
}

.trtriContact { 
	background: grey; 
}


.trtriContact:before {
  bottom: 200%;
  right: -9px;
  border-bottom: 10px solid #919191;
  border-right: 9.2px solid transparent;
    content: '';
  position: absolute;
  height: 0;
  width: 0;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}


body {
	background-color: #F2F1FF;
}

 .portfolio {
	width: 400px;
}

#sidebar #sidebarHeader{
	color: white !important;
	font-family: arial, helvetica, sans-serif;
	font-size: 30px;
	padding: 0;
	margin: 0;
}

h1 {

	text-align: center;
	font-size: 39px;
	margin-bottom: 20px;
	font-family: elephnt;

}


h2 {
	text-align: center;
	margin-left: 80px;
	float: left;
	font-size: 20px;

}

h3 {
	color: white;
	padding: 7px;
	font-size: 20px;
	font-family: arial, helvetica, sans-serif;
	text-align: center;
}

#sideBar a {

}

@font-face {
    font-family: kollektif;
    src: url(kollektif.ttf);

}

@font-face {
    font-family: elephnt;
    src: url(ELEPHNT.TTF);
}

p {
	font-family: kollektif, arial, sans-serif;
	font-size: 20px; 
	line-height: 130%;
	padding: 8px; 
	margin-left: 10px;
}

nav {
	width: 962.8px;
	display: block;
	padding: 3px;
	background-color: black;
	margin: 0 auto;

}

nav a:hover {
	color: white;

}

a:active {
	color: yellow;

}

.activePage {
text-decoration: underline; 
}


nav ul {
	list-style: none;
	text-align: center;
}

nav li {
	display: inline;
	margin: 60px;
}

nav li a {
	color: #16B1FF; 
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	font-family: arial, helvetica, sans-serif;

}



/*index*/


section {
	padding: 20px;
	text-align: center;
}

@font-face {
    font-family: norwester;
    src: url(norwester.otf);
}

figcaption {
    font-family: norwester;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: left;
    color: black;
   
}

#images {
	
	margin: 0 auto;
}

figure {
	margin-left: 300px;
}




/*about*/

.portrait {

width: 30%;
float: left;
margin-bottom: 40px;

}

#about {
	float: right;
	width: 600px;
	color: #0B587F;
}

/*contact*/



#sidebar {
	float: right;
	margin: 25px;
	display: block;
	background-color: #69787F;
	padding: 50px;
	width: 175px;
}

#headerIcons {
	display: inline;
	outline: 1px solid white;
	float: right;
	margin-right: 20px;
	margin-top: 50px;
}

.icon {
	width: 50px;
	display: inline;
	border: 1px solid white;

	

}



.headericon {
	width: 50px;
	display: block;
	margin: 10px;


}

#contactInfo {
	display: block;
	line-height: 200%;
	color: white;
	text-decoration: none;
	text-align: left;
}

#contactInfo a {
	display: block;
	color: white;

}

form {
	float: left;
	width: 500px; 
	padding: 10px;

}

input {
    display: block;
    height: 40px;
    width: 200px;
    margin-bottom: 12px;
    margin-top: 12px;
    border: 2px solid black;
    position: relative;
    left: 40%;
    
	}

label {
	text-align: center;
	font-weight: bold;
	 position: relative;
    left: 55%;
    font-family: arial, helvetica, sans-serif;

	
}

select {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	margin: 0 auto;
	}

textarea {
	display: block;
	height: 75px;
	width: 200px;
	 position: relative;
	 margin-top: 12px;
	 margin-bottom: 12px;
    left: 40%;
    border: 2px solid black;
}



#myState {
	width: 200px;
	position: relative;
    left: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    position: relative;
}

#mySubmit, #myReset {
	display: inline;
	margin-top: 13px;
	width: 100px;
	position: relative;
	left: 40%;
	background-color: white;
	text-align: center;
	font-weight: bold;

}


footer {
	text-align: center;
	font-size: 12px;
	background-color: black;
	clear: both;
	color: #62CBFF;
	margin-top: 5px;
	
}